body {
	background-color: black;
}

hr.style {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: green;
}

a:active {
    color: green;
}
